@import "./base/base.less";
@import "./base/common.less";
html{
  background: #c9cac7;
}
.container{
  width:100%;
  .bookshelf{
    padding-top: 40px;
    .bookshelf-item{
      margin-top: 60px;
      height: 70px;
      background:url('http://img1.qunarzz.com/car/1703/9a/d137785b753b7002.gif');
      background-size: 100% auto;
      background-repeat: no-repeat;
      .book-frame{
        width:33%;
        height: 100px;
        margin-top: -140px;
        position:relative;
        .book{
          width:70px;
          height: 87px;
          background:#999;
          .shadow(-5px,-5px,6px,#666);
          border-right: 2px solid #eee;
          border-bottom: 1px solid #666;
          overflow: hidden;
          img{
            display: block;
            width:100%;
          }
        }
        .book-f{
          position:relative;
          .update{
            position:absolute;
            width:40px;
            height:40px;
            overflow:hidden;
            right:-1px;
            top: -2px;
            img{
              display:block;
              width:100%;
            }
          }
        }

        .jia{
          img{
            display: block;
            width:75%;
          }
        }

        .remove-btn{
          position: absolute;
          .box(20px);
          background: #ff6666;
          .bradius(50%);
          right:15px;
          top:-5px;
          .shadow(-1px,0px,2px ,#000);
          color:#666;
          font-size:2rem;
          .rotate(45deg);
          z-index: 1;
        }
      }

    }
  }
}