@import "./base/base.less";
@import "./base/common.less";
.container{
  width:100%;
  .list{
    width:100%;
    .item{
      height:50px;
      position: relative;
      padding-left: 25px;
      .half-border({
        left:0;
        border-bottom:1px solid #1ba9ba;
        z-index: 1;
      });
      .novel-name{
        font-size:1.4rem;
      }
      .arrow-frame{
        position:absolute;
        width:0px;
        height:0px;
        top:0;
        bottom:0;
        right:24px;
        margin: auto;
        .arrow{
          .bg-frame,.front-frame{
            width:8px;
            height:8px;
            background:#999;
            .origin(0,0);
          }
          .front-frame{
            background:#fff;
            position:absolute;
            top:1px;
            left:1px;
          }
          .origin(0,0);
          .rotate(135deg);
        }
      }
    }
  }
}